.home-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .home-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(116, 115, 115, 0.5);
    opacity: 0.1;
  }
  
  .welcome-box {
    position: absolute;
    top: 40%; /* Moves text 40% down from the top */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(34, 84, 137, 0.6);
    border-radius: 10px;
    max-width: 800px;
    width: 90%; /* Mobile default */
  }
  
  /* For larger screens, reset width */
  @media (min-width: 768px) {
    .welcome-box {
      width: auto;
      max-width: 800px;
    }
  }
  